@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}

input {
  border: 0;
  background-color: transparent;
  font-weight: 300;
}

p {
  margin: 0;
}

button:focus,
input:focus {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #f4f4f4;
  color: #1b1d1f;
}

.container {
  width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  background-image: url("./images/profile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  flex-shrink: 0;
  height: 48px;
  background-color: #4a90e2;
}

.header .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header .container .logo {
  max-width: 24px;
  max-height: 24px;
}

.header .container .search-container {
  display: flex;
  align-items: center;
  width: 310px;
  height: 40px;
  margin-left: 20px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  background-color: #6ba4e6;
}

.header .container .search-container svg {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  fill: #fff;
}

.header .container .search-container .search-input {
  flex-grow: 1;
  margin-left: 12px;
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  border: 0
}

.header .container .search-container .search-input::placeholder {
  color: #fff;
}

.header .container .navigation {
  display: flex;
  margin-left: auto;
}

.header .container .navigation .nav-link {
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.header .container .navigation .nav-link:hover {
  background-color: #579ef2;
}

.header .container .actions {
  display: flex;
  margin-left: 20px;
}

.header .container .actions .action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: background-color 0.3s;
}

.header .container .actions .action:hover {
  background-color: #579ef2;
}

.header .container .actions .action svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.header .container .actions .action .avatar {
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.header .container .actions .action:last-child {
  margin-right: -16px;
}

.content {
  flex-grow: 1;
  padding-top: 20px;
}

.content .container {
  display: flex;
  align-items: flex-start;
}

.content .container .profile {
  flex-shrink: 0;
  width: 254px;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 2px;
  text-align: center;
  border: 1px solid #dedede;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08);
}

.content .container .profile .avatar {
  width: 74px;
  height: 74px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 37px;
}

.content .container .profile .name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.content .container .profile .address {
  font-size: 15px;
  color: #797979;
}

.content .container .profile .work-position {
  margin-top: 12px;
  font-size: 13px;
}

.content .container .profile .profile-link {
  display: block;
  height: 44px;
  line-height: 44px;
  margin-top: 30px;
  border-top: 1px solid #eee;
  color: #2184dc;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}

.content .container .dashboard {
  flex-grow: 1;
  margin-left: 20px;
}

.content .container .dashboard .input-container {
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #dedede;
  border-radius: 2px;
  background-color: #fff;
}

.content .container .dashboard .input-container .post-input {
  width: 100%;
  height: 70px;
  font-size: 15px;
}

.content .container .dashboard .input-container .post-input::placeholder {
  color: #797979;
  font-weight: 300;
}

.content .container .dashboard .input-container .actions {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 1px solid #dedede;
}

.content .container .dashboard .input-container .actions .write-article {
  display: flex;
  align-items: center;
  height: 28px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #bfbfbf;
  border-radius: 14px;
  background-color: transparent;
}

.content .container .dashboard .input-container .actions .write-article svg {
  width: 14px;
  height: 14px;
  fill: #797979;
}

.content .container .dashboard .input-container .actions .write-article .button-text {
  margin-left: 10px;
  font-size: 13px;
  color: #797979;
}

.content .container .dashboard .input-container .actions .file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-left: auto;
}

.content .container .dashboard .input-container .actions .file svg {
  width: 16px;
  height: 16px;
  fill: #939393;
}

.content .container .dashboard .input-container .actions .submit {
  height: 28px;
  line-height: 28px;
  margin-left: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #2184dc;
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
}

.content .container .dashboard .article {
  margin-top: 12px;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #dedede;
}

.content .container .dashboard .article .author {
  display: flex;
  align-items: center;
}

.content .container .dashboard .article .author .avatar {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

.content .container .dashboard .article .author .author-info {
  flex-grow: 1;
  margin-left: 10px;
}

.content .container .dashboard .article .author .author-info .name {
  height: 16px;
  line-height: 16px;
  font-size: 15px;
  font-weight: 500;
}

.content .container .dashboard .article .author .author-info .work-position {
  height: 14px;
  line-height: 14px;
  font-size: 13px;
  color: #797979;
}

.content .container .dashboard .article .author .author-info .time {
  height: 14px;
  line-height: 14px;
  font-size: 13px;
  color: #797979;
}

.content .container .dashboard .article .article-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content .container .dashboard .article .article-content .paragraph {
  font-size: 13px;
  line-height: 18px;
}

.content .container .dashboard .article .article-content .paragraph + .paragraph {
  margin-top: 8px;
}

.content .container .dashboard .article .actions {
  display: flex;
  border-top: 1px solid #dedede;
}

.content .container .dashboard .article .actions .action-button {
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 13px;
  color: #797979;
}

.content .container .dashboard .article .actions .action-button:first-child {
  margin-left: -12px;
}

.content .container .sidebar {
  flex-shrink: 0;
  width: 274px;
  margin-left: 30px;
}

.content .container .sidebar .actions {
  height: 42px;
  line-height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2184dc;
  border-radius: 2px;
  font-size: 15px;
  color: #fff;
}

.content .container .sidebar .recent {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 2px;
  background-color: #fff;
}

.content .container .sidebar .recent .title {
  font-size: 15px;
}

.content .container .sidebar .recent .listing {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content .container .sidebar .recent .listing:first-of-type {
  margin-top: 10px;
}

.content .container .sidebar .recent .listing .house-img {
  flex-shrink: 0;
  width: 54px;
  height: 44px;
  background-image: url("./images/house.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content .container .sidebar .recent .listing .house-details {
  flex-grow: 1;
  margin-left: 16px;
}

.content .container .sidebar .recent .listing .house-details .address {
  height: 22px;
  line-height: 22px;
  font-size: 15px;
  font-weight: 500;
}

.content .container .sidebar .recent .listing .house-details .price {
  height: 22px;
  line-height: 22px;
  font-size: 13px;
  color: #797979;
}

.content .container .sidebar .recent .view-all {
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  color: #2184dc;
  text-decoration: none;
}
